In [1]:
import tensorflow as tf

In [2]:
a=tf.constant(17.5)
b=tf.constant(5.0)

In [3]:
c = tf.add(a,b)

In [4]:
print(c)

Tensor("Add:0", shape=(), dtype=float32)

In [6]:
sess = tf.Session()

In [7]:
sess.run(c)

22.5

In [8]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
df = pd.DataFrame(columns=['x','y'])

In [16]:
import random
for i in range(30):
    df.loc[i] = [random.randint(1,10),random.randint(1,10)]

In [19]:
df

     x  y
0    3  3
1    7  3
2    8  3
3   10  3
4    8  3
5    3  3
6    4  3
7    1  3
8    6  3
9    5  3
10   9  3
11   2  3
12   6  3
13  10  3
14   2  3
15   6  3
16   1  3
17   4  3
18   3  3
19   2  3
20   5  3
21   9  3
22   3  3
23   8  3
24   4  3
25   7  3
26   8  3
27   7  3
28   8  3
29   7  3